.navigation-row {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    padding: 5px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
    margin: 0px;
    color: #333;
    background-color: #fff;
    justify-content: space-evenly;
    width: 100%;
    padding: 2px 0;
    margin: 0;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
}
.main-header {
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
    margin: 0px;
    font-weight: bold;
    color: #333;
    background-color: #fff;
}

.photo-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    justify-content: center;
    padding: 15px;
    max-width: 900px;
    margin: auto;
}

.image-container {
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}


.image-container span {
    display: block;
    margin-top: 8px;
}
